<%= form_for(@benefit) do |f| %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :description, "Description" %><br>
    <%= f.text_field :description, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :link, "Link" %><br>
    <%= f.text_field :link, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :flat_cost, "Flat Cost per Paycheck" %><br>
    <%= f.number_field :flat_cost, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :percent_cost, "Percent Cost" %><br>
    <%= f.number_field :percent_cost, class: "form-control" %></div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
