<p id="notice"><%= notice %></p>

<div class="center">

  <div class="info">
    <p><strong>Name:</strong> <%= @benefit.name %></p>
    <p><strong>Total Number of Users:</strong> <%= @benefit.users.count %></p>
    <p><strong>Description:</strong> <%= @benefit.description %></p>
    <p><strong>Link:</strong> <%= @benefit.link %></p>
    <p><strong>Flat Cost/Paycheck:</strong> <%= @benefit.flat_cost %></p>
    <p><strong>Percentage Cost:</strong> <%= @benefit.percent_cost %></p>
    <% if current_user.admin %>
      <%= link_to 'Edit Benefit', [:edit, @benefit], class: "btn btn-primary btn-light" %></p>
      <form action="/benefits" method="post">
        <input type="hidden" name="_method" value="delete" >
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <%= tag(:input, :type => "hidden", :name => :id, :value => @benefit.id) %>
        <input class="btn btn-light" type="submit" value="Delete">
      </form>
    <% end %>
    <% if @benefit.users.include?(current_user) %>
      <form action="/selections" method="post">
        <input type="hidden" name="_method" value="delete" >
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <%= tag(:input, :type => "hidden", :name => :selection_id, :value => @benefit.selections.ids) %>
        <input class="btn btn-light" type="submit" value="Unenroll">
    <% else %>
    <p><strong>How many beneficiaries including yourself?:</strong></p>
      <form action="/selections/new" method="post">
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
        <%= tag(:input, :type => "hidden", :name => :benefit_id, :value => @benefit.id) %>
        <%= tag(:input, :type => "number", :name => :beneficiaries, :value => "1") %>
        <input class="btn btn-light" type="submit" value="Enroll">
    <% end %>
      </form>
    <%= link_to 'Back', benefits_path, class: "btn btn-primary btn-light" %></p>
  </div>
</div>
