<p id="notice"><%= notice %></p>

<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<div class="left">

  <div class="info">
    <div class="greeting">
      <%= render partial: 'greeting' %>
    </div>
    <p class="edit_account"><%= link_to 'Edit Account', edit_user_path(@user), :class => "load_user_form" %></p>
    <%= render 'form' %>
  </div>
  <p><%= link_to 'My Benefits', user_benefits_path(@user) %></p>
</div>

<script>
  $("form.edit_user").hide()
  $('div.actions input').removeAttr('data-disable-with');

  $("p.edit_account a").on("click", function(e){
    $("form.edit_user").toggle("fast");
    e.preventDefault();
  })

  $("form.edit_user").on("submit", function(e){
    var url = this.action
    var data = $(this).serialize();
    $.ajax({
      type: "patch",
      url: url,
      data: data,
      success: function(response){
        $("form.edit_user").hide("fast");
        $(".greeting").contents().remove();
        $(".greeting").append(response);
      }
    })
    e.preventDefault();
  })
</script>
